/*body{font-family:Cambria;font-size:13pt}*/
.admin-menu{width:20%;padding:20px 10px 0 10px;vertical-align:top}
.admin-menu div{border-bottom:1px solid gray;width: 100%;margin-bottom:5px}
.admin-menu div a{text-decoration:none;line-height:23px}
.admin-content{border-left:1px solid gray;padding-left: 15px}